body{
    background-image: url('Image/Pic1.png');
    background-size:cover;
}

.home{
    position: absolute;
    padding: 20px;
    right: 0px; 
    top: 0px;
    list-style-type: none;
    background-color: brown;
    color:linen;
    
   }
   
li{
       float:left;
       list-style-type: none;
       background-position: center;
   }

   
a{
       display:block;
       width: 130px;
       text-align: center;
       color: azure;
   }

li a:hover{
    background-color:coral;
}

h1{
    color: firebrick;
    position: absolute;
    text-align: center;
    background-color: beige;
}


.footer{
    border: inline 10px;
    position: absolute;
    bottom:0px;
    list-style-type: none;
    width: 130px;
    color: azure;
    
}

h4{
    display:block;
       width: 130px;
       text-align: center;
       color: azure;
}

/* DEVELOPER Yinan Cai, IS117-002, Spring 2023 */