.witcher{
    position: absolute;
    top: 100px;
    left: 300px;
}
p{
    position: absolute;
    top: 100px;
}

h1{
    position:absolute;
    top: 80px;
}

#background{
    position: absolute;
    top: 150px;
    left: 20px;
    background-color: wheat;
    width: 270px;

}

#ability{
    position: absolute;
    top: 180px;
    right: 80px;
    background-color: wheat;
    width: 270px;
}

#limitation{
    position: absolute;
    top: 300px;
    right: 80px;
    background-color: wheat;
    width: 270px;
}

#Ability{
    position: absolute;
    top:120px;
    right: 70px;
}

#Limitation{
    position: absolute;
    top: 240px;
    right: 50px;

}